import React from 'react'
import { View } from 'react-native'

import { Body } from '@components/text'

import styles from './styles'

const {{properCase name}} = () => (
  <View style={styles.wrapper}>
    <Body>{{properCase name}}</Body>
  </View>
)

export default {{properCase name}}
