import PageContainer from '@components/pageContainer'
import { Body } from '@components/text'
import { Roots, RootStackParamList } from '@navigation'
import { RouteProp } from '@react-navigation/native'
import React from 'react'

import Strings from '@/localization'

import styles from './styles'

type Props = {
  route: RouteProp<RootStackParamList, Roots.{{properCase name}}>
}

const {{properCase name}} = ({ route }: Props) => (
  <PageContainer>
    <Body>{Strings.{{name}}.__name}</Body>
  </PageContainer>
)

export default {{properCase name}}
